<div id="<%= dom_id page %>" class="card bg-white">
  <div class="card-body shadow-xl">
    <p>
      <strong>Url:</strong>
      <%= page.url %>
    </p>

    <p>
      <strong>Check type:</strong>
      <%= page.check_type %>
    </p>

    <p>
      <strong>Selector:</strong>
      <%= page.selector %>
    </p>

    <p>
      <strong>Match text:</strong>
      <%= page.match_text %>
    </p>
  </div>

  <% unless request.path == page_path(page) %>
    <%= link_to "Show this page", page, class: "btn btn-primary" %>
  <% end %>

</div>
