<%= link_to "â† Back to pages", pages_path, class: "btn btn-ghost" %>

<%= render @page %>

<div class="flex gap-3">
  <%= link_to "Edit this page", edit_page_path(@page), class: "btn btn-primary" %>
  <%= button_to "Destroy this page", @page, method: :delete, class: "btn btn-error" %>
  <%= button_to "Run", page_check_path(@page), class: "btn btn-success" %>
</div>

<h4>Results</h4>
<%= render @page.results.order(created_at: :desc) %>
